

.legendPlaces{
    position:absolute; 
    right:6px; 
    bottom:10px; 
    z-index:10000; 
    width:130px; 
    height:150px; 
    background-color:#FFFFFF;
    text-align: center;

  margin:40px auto;
  padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.trainstation {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}


.CEMETERY {
    width: 10px;
    height: 10px;
    background: #6ac988;
    /*border: 1px solid black;*/
}
.PARK {
    width: 10px;
    height: 10px;
    background: #d6e848;
    /*border: 1px solid black;*/
}
.RESERVE {
    width: 10px;
    height: 10px;
    background: #1f71cf;
    /*border: 1px solid black;*/
}
.WALKING {
    width: 10px;
    height: 10px;
    background: #e43f4a;
    /*border: 1px solid black;*/
}

#tableLegendPlaces
{ 
    margin-left: 15;
    margin-top: 5;
    margin-bottom: 5;
}
#tableLegendPlaces td
{ 
    font-size:13px;  
    margin-left: 10;
    margin-right: auto;
    text-align: left;
    width: 100px;
}

.legendEffect{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
th {
    text-align: left;
    vertical-align: top;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h2 {
    margin: 0 0 5px;
    color: #777;
}
.leaflet-container {
    background: #fff;
}